body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    text-align: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

kitgpt {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #348be7;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

a:hover {
    background-color: #89b2df;
    transform: scale(1.05);
}

a:active {
    transform: scale(0.95);
}

.button.clicked {
    transform: scale(0.95);
    opacity: 0.8;
}

.button img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.link {
    background-color: #0078d7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}